
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/UILayout/Index.cshtml";
}

<h1>Index</h1>
<br />
<br />
<br />
 @ViewBag.bookPickDate
 @ViewBag.bookOffDate
 @ViewBag.timePick
 @ViewBag.timeOff 
 @ViewBag.locationID

